/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

 body {
  background-color: currentColor;
 }

 h1 {
   color: white;
   font-family: 'jaapokki', sans-serif;
   font-weight: 900;
   letter-spacing: -4px;
 }

 .home-table {
   display: table;
   width: 100px;
   height: 100px;

   position: absolute;
   top:0;
   bottom: 26%;
   left: 0;
   right: 62%;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
 }

 .home-table button {
   width: 250%;
   height: 50%;
   font-family: 'jaapokki', sans-serif;
   font-weight: 900;
   letter-spacing: -1px;
   margin-bottom: 55px;
   font-size: 45px;
   background-color: mediumseagreen;
   border-color: mediumseagreen;
 }

 .home-table a {
   display: block;
   color: white;
   text-decoration: none;
 }

 .home-table button:hover {
   background-color: transparent;
   border-color: mediumseagreen;
 }

 .collapse h1 {
   color: white;
   font-family: 'jaapokki', sans-serif;
   font-weight: 900;
   letter-spacing: -2px;
 }

 .form {
   display: table;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25%
   left 0;
   right 0;
 }
